<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Each</title>
</head>
<body>
<div th:each="names: ${list}">
  <p th:text="${names}"></p>
</div>

<h3>Status</h3>
<div th:each="names,status: ${list}">
  <p th:text="${status.index+1+'  '+names}"></p>
</div>
<h3>Status</h3>
<div th:each="names,status: ${list}">
  <p th:style="${status.odd}? 'color:red':'color:green'" th:text="${status.index+1+'  '+names}"></p>
</div>


<h3>First</h3>
<div th:each="names,status: ${list}">
  <p th:text="${status.first}? 'First: '+${names}:'Not First '+${names}" ></p>
</div>

<h3>Count</h3>
<div th:each="names,status: ${list}">
  <p th:text="${status.size}+' '+${names}"></p>
</div>

</body>
</html>